/* https://uxplanet.org/how-to-customize-bootstrap-b8078a011203 */

html,
body {
  padding: 10px;
  margin: 10px;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

/* a {
  color: inherit;
  text-decoration: none;
} */

* {
  /* outline: thin solid rgba(255, 0, 0, 0.1);
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.1); */
}

.next-route-announcer,
#__next-build-watcher,
#__next-route-announcer__ {
  outline: none;
  padding: 0;
  background-color: transparent;
  display: none;
}

/* remove rounding from cards, buttons and inputs */
.card,
.btn,
.form-control,
.alert {
  border-radius: 0;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.5);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: .3rem;
}